.topbarContainer{
    height: 50px;
    width: 100%;
    background-color: #eb6666;
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 999;
}

.topbarLeft{
    flex: 3;
}

.logo{
    font-size: 24px;
    margin-left: 20px;
    font-weight: bold;
    color: white;
    cursor: pointer;
    width: 250px;
    height: 190px;
}

.searchbar{
    width: 100%;
    height: 30px;
    background-color: white;
    border-radius: 30px;
    display: flex;
    align-items: center;
    margin: 10px;
}

.searchIcon{
    font-size: 20px in !important;
    margin-left: 10px;
}

.searchInput{
    border: none;
    width: 70%;
}

.searchInput:focus{
    outline: none;
}

.topbarCenter{
    flex: 5;
}

.topbarRight{
    flex: 4;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: white;
}

.topbarLink{
    margin-right: 10px;
    font-style: 14px;
    cursor: pointer;
    text-decoration: none;
}

.topbarIcons{
    display: flex;
}

.topbarIconItem{
    margin-right: 15px;
    cursor: pointer;
    position: relative;
}

.topbarIconBadge{
    width: 12px;
    height: 12px;
    background-color: rgb(218, 218, 218);
    border-radius: 50%;
    flood-color: white;
    position: absolute;
    top: -6px;
    right: -6px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
}

.topbarImg{
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
    margin-right: 15px;
}

.profileDropdown {
    position: absolute;
    top: 50px; /* Adjust this value to control the dropdown's distance from the profile picture */
    right: 0;
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 1; /* Ensure the dropdown is above other elements */
    display: flex;
    flex-direction: column;
    min-width: 120px; /* Set a minimum width for the dropdown */
  }
  
  .dropdownItem {
    padding: 10px;
    text-decoration: none;
    color: #333;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .dropdownItem:hover {
    background-color: #f1f1f1;
  }